.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

h2 {
    text-align: center;
}

.input-display-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-display {
    width: 100%;
    max-width: 300px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

.input-display:focus {
    border-color: #0149cf;
    box-shadow: 0 0 5px rgba(11, 37, 189, 0.5);
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    height: 60px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Optional: adds spacing between buttons */
  }

.btn-cancel {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.btn-cancel:hover {
    background-color: darkred;
}

.btn-confirm {
    background-color: rgb(46, 202, 106);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.btn-confirm:hover {
    background-color: rgb(0, 124, 31);
}