/* success-dialog.component.css */
.mat-dialog-content {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: center;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  